<% if message.user == current_user %>
  <div class="my_message">
    <p class="chat_message"><%= "#{message.content}:" %><%= image_tag 'icon.png'%></p>
    <p class="chat_user_name"><%= "#{User.find(message.user_id).name}" %></p>
  </div>
<% else %>
  <div class="others_message">
    <p class="chat_message"><%= image_tag 'icon.png'%><%= ":#{message.content}" %></p>
    <p class="chat_user_name"><%= "#{User.find(message.user_id).name}" %></p>
  </div>
<% end %>
