<div class="form_wrapper">
  <div class="form">
    <h1>ログイン</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form_field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
      </div>

      <div class="form_field">
        <%= f.label :password, "パスワード"%>
        <%= f.password_field :password, autocomplete: "new-password"%>
      </div>

      <div class="form_action">
        <%= f.submit "ログイン", class: "form_btn" %>
      </div>
    <% end %>

  <p>新規登録する<%= link_to "登録ページへ", signup_path_url%></p>
  </div>
</div>
