<% @paginate_join_room.each do |room| %>
  <% author = User.find_by(id: RoomUser.find_author(room)) %>
    <li>ルームの話題:<%= room.keyword %></li>
    <li>参加状況:<%= room.user_ids.count%>/<%= room.capacity %>人</li>
    <li>作成者: <%= link_to author.name, author %></li>
    <li class='to_room'><%= link_to 'ルームに移動する', room %></li>
  <% end %>
