<div class="user_page">
  <%= image_tag 'icon.png'%>
  <div class="user_name">
    <%= @user.name %>
  </div>
  <div class="build_room" data-target="build_room_list">
    作成したルーム
  </div>
  <ul id="build_room_list">
    <% @paginate_build_room.each do |room| %>
      <li>ルームの話題:<%= room.keyword %></li>
      <li>参加状況:<%= room.user_ids.count%>/<%= room.capacity %>人</li>
      <li class='to_room'><%= link_to 'ルームに移動する', room %></li>
    <% end %>
    <%= paginate(@paginate_build_room)%>
  </ul>
  <div class="join_room" data-target="join_room_list">
    参加中のルーム
  </div>
  <ul id="join_room_list">
  <% @paginate_join_room.each do |room| %>
    <% author = User.find_by(id: RoomUser.find_author(room)) %>
      <li>ルームの話題:<%= room.keyword %></li>
      <li>参加状況:<%= room.user_ids.count%>/<%= room.capacity %>人</li>
      <li>作成者: <%= link_to author.name, author %></li>
      <li class='to_room'><%= link_to 'ルームに移動する', room %></li>
    <% end %>
    <%= paginate(@paginate_join_room)%>
  </ul>
  <% if @user.id == current_user.id%>
    <%= form_for(:room, url: rooms_path) do |f| %>
      <div class="room_form">
        <div>
          <%= f.label :keyword, "ルームの話題" %>
          <%= f.text_field :keyword, autofocus: true, autocomplete: "keyword" %>
        </div>
        <div>
          <% capacity_array = (1..99).map{ |n| [n.to_s+'人', n]} %>
          <%= f.label :capacity, "最大人数" %>
          <%= f.select :capacity ,capacity_array %>
        </div>
        <div>
          <%= f.submit "ルームを作成"%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
