<h2 class='search_title'>検索結果(<%= @count %>件)</h2>
<% @rooms.each do |room| %>
<% @user = User.find_by(id: RoomUser.find_author(room)) %>
<div class='result_index'>
  <ul>
    <li>ルームの話題:<%= room.keyword %></li>
    <li>参加状況:<%= room.user_ids.count%>/<%= room.capacity %>人</li>
    <li>作成者: <%= link_to @user.name, @user %></li>
    <% if room.user_ids.count >= room.capacity%>
      <li class='to_room'>満室です</li>
    <% else %>
      <li class='to_room'><%= link_to 'ルームに移動する', room %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= paginate @rooms %>
