<div id="chat_area">
  <p class="room_keyword">このルームの話題:<%= @room.keyword %></p>
  <div id="show_user" data-show_user="<%= session[:user_id] %>"></div>
  <div id="messages", data-room_id="<%= @room.id %>">
    <p><%= render @messages %></p>
  </div>
  <div class="chat_form">
  <% if room_user? %>
      <textarea class="text_box" type="text" data-behavior="room_speaker"></textarea></br>
      <button type="submit" class="chat_button">投稿</button>
  <% elsif @room.capacity == @room.user_ids.count %>
    <dic class='to_room'>満室です</div>
  <% else %>
    <%= form_for(:room_user, url: join_path_url) do |f| %>
    <%= hidden_field_tag :id, @room.id %>
    <%= f.submit "このルームに参加する"%>
  <% end %>
  </div>
<% end %>
</div>
