<header>
  <div class="header">
    <div class="header_title">
      <a href="/">Talk About</a>
    </div>
    <% if logged_in? %>
    <div class="header_icon">
      <%= image_tag 'icon.png'%>
      <span class="name"><%= current_user.name %></span>
      <sapn class="header_mypage">
        <%= link_to "マイページ", user_url(current_user) %>
      </span>
      <sapn class="header_logout">
        <%= link_to "ログアウト",logout_url, method: :delete %>
      </span>
    </div>
    <% else %>
    <div class="header_login">
      <%= link_to "ログイン", login_path %>
    </div>
    <% end %>
    <div class="search_form">
      <%= form_tag('/rooms/index', method: 'get') do %>
        <%= text_field_tag :keyword,params[:keyword], autofocus: true, autocomplete: "room_keyword"%>
        <%= submit_tag '検索'%>
      <% end %>
    </div>
  </div>
</header>
